.task-item-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .task-name {
        grid-column: 2/6;
    }

    .task-completed {
        grid-column: 7/9;
    }

    .delete-button-container {
        grid-column: 10/12;

            .delete-button {
            color: white;
            background-color: darkred;
            border: none;
            width: 70px;
            height: 50px;
            font-family: sans-serif;
            font-weight: bold;
            outline: none;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: darkred;
                border: 1px solid darkred;
            }
        }
    }
}